@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác thực thiết lập lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được thiết lập. Hãy <a asp-page="./Login">nhấn vào đây để đăng nhập</a>.
</p>
