@page
@model razor09_razorweb.Pages_Blog.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Bài viết</h1>

<h4>Tạo bài viết mới</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Created" class="control-label"></label>
                <input asp-for="Article.Created" class="form-control" />
                <span asp-validation-for="Article.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Content" class="control-label"></label>
                <textarea asp-for="Article.Content" class="form-control"></textarea>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo bài viết" class="btn btn-primary mt-2 mb-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Trở về danh sách</a>
</div>

@section Scripts {
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
    <partial asp-page="_ValidationScriptsPartial"></partial>
}
